@charset "UTF-8";

body {
  background-color: #f1f8e9;
}

.page {
  margin: 3% 150px 0px 150px;
  
}
.description {
  margin-top: 30px;
  background-color: white;
  padding: 30px 50px 30px 50px;
  opacity: 0.6;
  line-height: 30px;
  font-family: 'Verdana';
}

.logo {
  font-family: 'Lobster', cursive;
  font-size: 500%;
}

.name {
  font-family: 'Lobster', cursive;
  font-size: 120%;
  margin-left: 5px;
  letter-spacing: 0.05em;
}
.icon-links {
  margin-top: 10px;
}

.icon-links a {

  color: #EF3C59;
  text-decoration: none;
  margin-left: 5px;
}

.icon-links i {
  font-size: 32px;
}

.bullet {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 20px;
}

.bullet.pink {
  border: 1px solid #F62459;
  background-color: #F62459;
}

.bullet.green {
  border: 1px solid #3AD6AE;
  background-color: #3AD6AE;
}

.bullet.yellow {
  border: 1px solid #FAD46B;
  background-color: #FAD46B;
}

/* Background pattern from subtlepatterns.com */